<ion-header [translucent]="true">
    <ion-toolbar>

        <ion-segment value="all" (ionChange)="cambiarEntreCercanosYTodos($event)">
            <ion-title>
                AppLocalizacion
            </ion-title>
            <ion-segment-button value="cercanos">Cercanos</ion-segment-button>
            <ion-segment-button value="todos">Todos</ion-segment-button>
        </ion-segment>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">AppLocalizacion</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="map_canvas">
    </div>



</ion-content>